body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #0735eb;
  font-family: 'Pacifico', cursive;
}

form {
  max-width: 400px;
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #146394;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.buttons-container button {
  flex: 1;
  margin-right: 10px;
}

button:hover {
  background-color: #146394;
}

#resultado {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
